<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinsdyr DB</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href="/">Reinsdyr DB</a></h1>
        <ul>
            <% if (user) { %>  
                <li>Velkommen, <%= user.email %></li>
                <input type="text" id="searchBar" placeholder="Søk..">
                <li><a href="/logout" class="btn">Logg ut</a></li>
            <% } else { %>  
                <li><a href="/login" class="btn">Log in</a></li>
                <li><a href="/signup" class="btn">Sign up</a></li>
            <% } %>
        </ul>
    </nav>    
</body>
</html>
