<%- include("partials/header", { user: user }); -%>


<header>
    <div class="Reinsdyr">
        <img src="/reindeer.png" alt="">
    </div>
    <div class="headings">
        <h2>Loggførte Reinsdyr</h2>
        <a href="/reinsdyrLog">Se mer her</a>
    </div>
</header>