<%- include("partials/header", { user: user }); -%>

<header>
    <div class="ERdiagram">

    </div>
    <div class="Notion">
        <h1>Mitt Notion Prosjekt</h1>
        <p>Her kan du se mitt notion <a href="https://fire-packet-9d9.notion.site/Oppdrag-Reinsdyr-pr-ve-eksamen-1a6066e05c2e8094b199d7495e202f23" style="color: darkred;">Prosjekt</a></p>
    </div>
</header>